/*<img src="./img/teslariu-mihai-dVcRxd5bJTw-unsplash.jpg" alt="FEAR THE LIGHT">
/* source for the background image.*/

html, body {
  margin: 0;
  height: 100%;
  display: flex;
}

.container {
  display: flex;
  align-items: stretch;
}

.right_side {
  display: flex;
  flex-direction: column;
}

img {
  height: 125px;
  width: 125px;
}

.left_side {
  background-image: url(./img/teslariu-mihai-dVcRxd5bJTw-unsplash.jpg);
  background-size: cover;
}

#password:invalid,
#confirm_password:invalid {
  border-color: red; 
}

#password:invalid,
#confirm_password:invalid {
  border-color: green; 
}

