
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.right_side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 3;
}

img {
  height: 125px;
  width: 125px;
}

.left_side {
  background-image: url(./img/teslariu-mihai-dVcRxd5bJTw-unsplash.jpg);
  background-size: cover;
  flex-grow: 0.5;
  display: flex;
  flex-direction: column;
}

.logo {
  background-color: rgba(23, 37, 13, 0.3);
  display: flex;
  position: relative;
  justify-content: center;
  top: 18.8vh;
}

h1 {
  align-self: center;
  color: whitesmoke;
}

.left_footer {
  position: absolute;
  bottom: 0;
  align-self: center;
}

.top_box {
  background-color: rgba(35, 51, 10, 0.3);
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding-left: 4em;
}

#sign-up {
  box-shadow: 5px 5px 5px grey;
}

.statement {
  align-self: flex-start;
  color: whitesmoke;
}

fieldset {
  flex-grow: 1;
  border: none;
  display: flex;
  flex-direction: row;
}

.info_box h2 {
  padding-left: 2em;
}

.bottom_box {
  flex-grow: 2;
}

button {
  border-radius: 15px;
  border: none;
  background-color: lightgray;
  font-size: large;
  font-weight: bold;
  padding: 15px 30px;;
}

button:hover {
  box-shadow: 5px 5px 5px grey;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 5px;
  border: solid grey 1px;
  padding: 5px;
}

.right_input {
  padding-left: 6em;
}

#login {
  padding: 30px;
}

a {
  text-decoration: none;
}

a:link {
  color: grey;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: blueviolet;
}

